{% extends "template.html" %} {% block title %} Productos {% endblock %} {% block content %} {% load static %}
<div class="container">
        <div class="row">
    <div class="col-sm">
        <h3 style="text-align: center;">❈Productos❈</h3>
        <p style="text-align: justify;"> Diseñamos y fabricamos diferentes tipos de tableros eléctricos,
            según las especificaciones de los proyectos de nuestros clientes, también mantenemos un stock en distintos tipos,
            ya sea: tableros de control (TDC), tableros de distribución, tableros de alumbrado (TDA), tableros de fuerza (TDF),
            tableros de computación (TDComp) y tableros especiales para dar solución a los distintos tipos de requerimientos. 
        </p>
      </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}