{% extends "template.html" %} {% block title %} Servicios {% endblock %} {% block content %} {% load static %}
    <div class="container">
        <div class="row">
    <div class="col-sm">
        <h3 style="text-align: center;">❈Servicios❈</h3>
        <p style="text-align: justify;"> Nuestra empresa se enfoca en servicios eléctricos integrales,
            tanto en el area domiciliaria como industrial, realizando: asesorias, remodelaciones electricas,
            instalaciones nuevas, reparaciones, atención de emergencia, planos e inscripciones, etc; Para 
            satisfacer las necesidades de nuestros clientes y sus instalaciones.
        </p>
      </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
{% endblock %}